.col1, .col2, .col3, .cols {float:left}
.col1 {padding-left:30px;width:279px}
.col2 {padding-left:50px;width:553px}
.col3 {padding-left:50px;width:100%}
.col_1 {width:161px;padding-left:50px;float:left}
.col_2 {width:100px;padding-left:50px;float:left}
.col_3 {width:271px;padding-left:50px;float:left}
.cols {width:256px}
/* index.html */
#page1 header {height:544px;background:url(../images/header_bg.png) center 131px no-repeat}
/* index-1.html */
#page2 .col2 figure {float:left;width:53px}
#page2 .col2 .left {width:195px}
/* index-2.html */
#page4 h2.pad_top1 {padding-top:0;margin-top:-10px}
#page4 #content {padding-bottom:29px}
/* index-3.html */
/* index-4.html */
/* index-5.html */
/* index-6.html */

#page2 .left{
	height:160px;
}
#page3 .col1 p {
	line-height: 34px;
	display: inline;
	border-bottom: 1px dotted #999;
}
#page3 .col1{
	background:url(../images/system/paper-f6.png) center repeat;
	margin-bottom: -30px;
}

#page4 .col22{
	background:url(../images/system/bg_tate.png) left repeat-y;
	margin-left:-20px;
	height:100%;
}

#page4 .tate{
	background:url(../images/system/bg_tate.png) right repeat-y;
	width:313px;
	float:left;
	padding-bottom:20px;	
}

#page4 .col1{	
	background:url(../images/system/paper-f6.png) center repeat;
	margin-bottom: -30px;
}

.container {
	float:left;	
	width:600px;
	margin-top:10px;
	margin-left:10px;	
	position: relative;
}
.container p{
	margin-left:10px;
}

.container .headerleft{
	float: left;
}
.container .headerright{
	float: right;
}
.container .title{	
	height:35px;
	color:#ffffff;
	line-height:35px;
	margin:0 0 10px 0;
}
.containerfoot{
	width:auto;
	height:5px;
	position: absolute;
	bottom:0px;
	left:0px;
	right:0px;			
}


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.col1 .wrapper{
	border-right:3px solid;
	border-color: #24550D;
}